<a href="https://colab.research.google.com/github/sasongko8888/NGOBAR/blob/master/20231217_lat_baca_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Membaca dataset (ganti 'nama_dataset.csv' dengan nama file dataset yang sesuai)
data = pd.read_csv('/content/TWITTER 2023 Sentiment negativeCSV.csv',encoding='ISO-8859-1',on_bad_lines='skip')

# Menampilkan beberapa baris pertama data
print("Menampilkan beberapa baris pertama data:")
print(data.head())

# Menampilkan beberapa baris terakhir data
print("\nMenampilkan beberapa baris terakhir data:")
print(data.tail())

# Menampilkan informasi umum tentang dataset
print("\nInformasi tentang dataset:")
print(data.info())

# Menampilkan statistik deskriptif dari dataset
print("\nStatistik deskriptif:")
print(data.describe())

Menampilkan beberapa baris pertama data:
  Timestamp (ICT);Network;Connected Profile;Received From (Network Name);Native Permalink;Permalink;Message;Sentiment
0  11/24/2023 11:11;Twitter;pertamaxseries;AnggaK...
1  11/23/2023 18:57;Twitter;pertamaxseries;hirawk...
2  11/23/2023 18:41;Twitter;pertamaxseries;hisagi...
3  11/23/2023 18:38;Twitter;pertamaxseries;aizenw...
4  11/23/2023 18:34;Twitter;pertamaxseries;ichiwb...

Menampilkan beberapa baris terakhir data:
     Timestamp (ICT);Network;Connected Profile;Received From (Network Name);Native Permalink;Permalink;Message;Sentiment
5533                                            ;;;;;;;
5534                                            ;;;;;;;
5535                                            ;;;;;;;
5536                                            ;;;;;;;
5537                                            ;;;;;;;

Informasi tentang dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5538 entries, 0 to 5537
Data columns (total 1 columns):
 #   Column                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                               --------------  -----
 0   Timestamp (ICT);Network;Connected Profile;Received From (Network Name);Native Permalink;Permalink;Message;Sentiment  5538 non-null   object
dtypes: object(1)
memory usage: 43.4+ KB
None

Statistik deskriptif:
       Timestamp (ICT);Network;Connected Profile;Received From (Network Name);Native Permalink;Permalink;Message;Sentiment
count                                                5538
unique                                               3867
top                                               ;;;;;;;
freq                                                 1000

In [ ]:
import pandas as pd
#import emoji
import re
import nltk
from nltk.corpus import stopwords
# import matplotlib.pyplot as plot
import matplotlib.pyplot as plt
import numpy as np
#df_one = pd.read_csv('/content/TWITTER 2023 Sentiment negativeCSV.csv')
import chardet

# Mendeteksi encoding file
with open('/content/TWITTER 2023 Sentiment negativeCSV.csv', 'rb') as f:
    result = chardet.detect(f.read())

# Menggunakan encoding yang terdeteksi
try:
    df_one = pd.read_csv('/content/TWITTER 2023 Sentiment negativeCSV.csv', encoding=result['encoding'])
except UnicodeDecodeError:
    print("Tidak dapat membaca file dengan encoding yang terdeteksi.")
df_two = pd.read_csv('datasets/Step_two.csv')
df_three = pd.read_csv('datasets/Step_three.csv')

print(df_one.info()) #29934
# print(df_two.info()) #24702
# print(df_three.info()) #22742

ParserError: ignored

# New Section

In [ ]:
import pandas as pd

# Membaca dataset (ganti 'nama_dataset.csv' dengan nama file dataset yang sesuai)
data = pd.read_csv('/content/data_coba.csv',encoding='ISO-8859-1')

# Menampilkan beberapa baris pertama data
print("Menampilkan beberapa baris pertama data:")
print(data.head())

# Menampilkan beberapa baris terakhir data
print("\nMenampilkan beberapa baris terakhir data:")
print(data.tail())

# Menampilkan informasi umum tentang dataset
nama_saja = data['Nama']
print (nama_saja)

Menampilkan beberapa baris pertama data:
      Nama  Usia           Kota  Nilai
0    Alice    25       New York     92
1      Bob    30    Los Angeles     88
2  Charlie    22        Chicago     75
3    David    35        Houston     95
4       Ev    28  San Francisco     89

Menampilkan beberapa baris terakhir data:
      Nama  Usia           Kota  Nilai
0    Alice    25       New York     92
1      Bob    30    Los Angeles     88
2  Charlie    22        Chicago     75
3    David    35        Houston     95
4       Ev    28  San Francisco     89
0      Alice
1        Bob
2    Charlie
3      David
4         Ev
Name: Nama, dtype: object

In [ ]:
Nama;Usia;Kota;Nilai
Alice;25;New York;92
Bob;30;Los Angeles;88
Charlie;22;Chicago;75
David;35;Houston;95
Eva;28;San Francisco;89

In [ ]:
import pandas as pd

# Membaca dataset (ganti 'nama_dataset.csv' dengan nama file dataset yang sesuai)
data = pd.read_csv('/content/20230924SA.csv',encoding='ISO-8859-1',sep=';' )
# Menampilkan beberapa baris pertama data
print("Menampilkan beberapa baris pertama data:")
print(data.head())

# Menampilkan beberapa baris terakhir data
print("\nMenampilkan beberapa baris terakhir data:")
print(data.tail())

# Menampilkan informasi umum tentang dataset
nama_saja = data['Keterangan']
print (nama_saja)

Menampilkan beberapa baris pertama data:
                                          Keterangan  Sentimen Classification  \
0  Alhamdulillah.. klo ane selama isi @pertamaxse...                        1
1                               Makasih min inpohnya                        1
2  semogaa dah impian gw nonton moto GP bisa terw...                        1
3  nahh kalo gini kan jadi semangat ngumpulin poi...                        1
4  Kalo gratis gini gue bakal semangat kumpulin p...                        1

  Sentimen
0  Positif
1  Positif
2  Positif
3  Positif
4  Positif

Menampilkan beberapa baris terakhir data:
                                            Keterangan  \
473  @pertamaxseries.id aerox old rasio kompresinya...
474          @pertamaxseries.id nyari susah di jakarta
475               Wilayah jakarta di mana aja yang ada
476            Bandung kapan nih ka @pertamaxseries.id
477  pertamax green 95 udah keluar, tapi di pom ben...

     Sentimen Classification Sentimen
473                        1  Positif
474                        1  Positif
475                        1  Positif
476                        1  Positif
477                        1  Positif
0      Alhamdulillah.. klo ane selama isi @pertamaxse...
1                                   Makasih min inpohnya
2      semogaa dah impian gw nonton moto GP bisa terw...
3      nahh kalo gini kan jadi semangat ngumpulin poi...
4      Kalo gratis gini gue bakal semangat kumpulin p...
                             ...
473    @pertamaxseries.id aerox old rasio kompresinya...
474            @pertamaxseries.id nyari susah di jakarta
475                 Wilayah jakarta di mana aja yang ada
476              Bandung kapan nih ka @pertamaxseries.id
477    pertamax green 95 udah keluar, tapi di pom ben...
Name: Keterangan, Length: 478, dtype: object